## Mac OS X
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Icon


## IDE (Xcode, AppCode, Pods)
build/
DerivedData
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
# *.xcworkspace
!default.xcworkspace
xcuserdata
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
.idea/
Pods

